{% load static%}
<link rel="stylesheet" href="{% static 'css/style.css'%}">


{% include 'parts/navbar.html' %}


<style>

    .product-container {
        display: flex;
        flex-wrap: wrap;
        gap: 100; /* Adjust as needed for spacing between products */
    }
    
    .product-item {
        width: 200px; /* Adjust the width of each product item */
    }
    
    .product-name {
        text-align: right; /* Align the text to the right */
    }
    

</style>

{% block content%}



{% endblock content %}



{%include 'parts/footer.html' %}